@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply flex flex-row items-center justify-between px-7 py-3 w-full absolute top-0 left-0;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 60px 36px -28px inset;
  z-index: 99;

  .nav-items,
  .search-items {
    @apply hidden flex-row items-center justify-center space-x-5 mx-3 lg:flex;
  }

  a {
    @apply flex items-center justify-center space-x-2 duration-300 text-neutral-200 hover:text-neutral-300;
  }
}

.page-content {
  // BANNER AREA
  .banner-area {
    .banner-area--wrapper {
      @apply flex items-center relative w-full h-screen bg-no-repeat bg-cover bg-center;

      .banner-area--info {
        @apply w-full absolute p-7 lg:w-auto lg:w-[700px];

        .title--wrapper {
          @apply flex flex-row items-center space-x-2 font-bold uppercase text-neutral-200 lg:text-2xl;
          letter-spacing: 5px;
        }

        h1.banner-area--info_movie-title {
          @apply text-3xl my-3 font-bold lg:text-5xl;
        }

        p.banner-area--info_overview {
          @apply lg:text-lg;
        }

        .button-wrapper {
          @apply flex flex-row my-5;
          .btn {
            @apply px-10 py-3 rounded m-2 space-x-5 lg:text-2xl;

            &.fa-icon {
              @apply text-sm mx-3;
            }

            &.play {
              @apply bg-white text-black  hover:bg-white/80;
            }

            &.info {
              @apply bg-white/30 text-white hover:bg-white/20;
            }
          }
        }
      }
    }
  }

  // CONTENT AREA
  .content-area {
    @apply py-5;
    .slide-wrapper {
      h2.slide-wrapper--title {
        @apply px-7 py-5 text-2xl font-bold;
      }
      .splide-slide {
        .splide-slide--item {
          @apply relative flex items-center justify-center;

          .splide-slide--container {
            @apply min-h-full rounded;

            &:hover {
              @apply w-[400px] absolute top-5;
              z-index: 999;
              background-color: rgb(var(--background-color));
              box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;

              .splide-slide--container-img {
                @apply min-w-full;
              }

              .splide-slide--container-body {
                @apply block;
              }
            }
            .splide-slide--container-img {
              @apply rounded-t;
            }

            .splide-slide--container-body {
              @apply hidden p-4 h-full;
              &__options {
                @apply space-x-3;
                .btn {
                  @apply w-[40px] h-[40px] rounded-full border border-gray-500 duration-200 hover:bg-white/20;
                  &.play {
                    @apply bg-white text-black hover:bg-white/80;
                  }
                }
              }
              &__info {
                @apply space-x-3 text-gray-500 my-4;
                .vote_average {
                  @apply text-green-500;
                }

                .is_adult {
                  @apply border border-gray-500 px-2;
                }
              }

              .genre-list {
                @apply flex flex-row;
                .genre-list--item:not(:first-child) {
                  &::before {
                    content: "\2022";
                    margin: 0 5px;
                    @apply text-gray-500;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
